<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="datasource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/storyfm"></property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="datasource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		 
		<property name="mappingResources">
			
			<list>
				
				<value>com/bean/User.hbm.xml</value>
				<value>com/bean/Journal.hbm.xml</value>
				<value>com/bean/Article.hbm.xml</value>
			
				
			</list>
			 
		</property>
		
	</bean>
	
	<bean id="userDAO" class="com.dao.impl.UserDAOImpl" scope="singleton">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean>
	
	<bean id="userService" class="com.service.impl.UserServiceImpl">
		<property name="userDao">
			<ref bean="userDAO"></ref>
		</property>
	</bean>
	
	<bean id="loginAction" class="com.action.user.LoginAction" scope="prototype">
		<property name="service">
			<ref bean="userService"></ref>
		</property>
	</bean>
	
	<bean id="journalDAO" class="com.dao.impl.JournalDAOImpl" scope="singleton">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean>
	
	<bean id="journalService" class="com.service.impl.JournalServiceImpl">
		<property name="journalDAO">
			<ref bean="journalDAO"></ref>
		</property>
	</bean>
	
	<bean id="listJournalAction" class="com.action.journal.ListJournalAction" scope="prototype">
		<property name="service">
			<ref bean="journalService"></ref>
		</property>
	</bean>
	
	<!-- 
	<bean id="userManage" class="dao.UserManage" abstract="false" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="sessionFactory">
			<ref local="sessionFactory"></ref>
		</property>
	</bean>
			
	<bean id="EnrollAction" class="com.action.EnrollAction" scope="prototype">
		<property name="userManage">
			<ref bean="userManage"/>
		</property>		
	</bean>
	
	<bean id="Login" class="com.action.Login" scope="prototype">
		<property name="userManage">
			<ref bean="userManage"></ref>
		</property>
	</bean>
	 -->
</beans>